.video {
    width: 300px;
    height: 200px;
}

.remove-tag {
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
    padding: 10px;
    background-color: pink;
    border-radius: 5px;
    color: black;
    font-family: Arial, sans-serif;
    font-size: large;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 5;
}

#video-1, #video-2, #video-3, #video-4 {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

#video-1.animate, #video-2.animate, #video-3.animate, #video-4.animate {
    border-radius: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: white;
}

.sliders {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    padding: 10px;

    color: black;
    font-family: Arial, sans-serif;
    font-size: large;
    background-color: pink;

    display: none;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.sliderBright {
    margin-bottom: 10px;
}
